@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?w43csi") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star:before {
  content: "\e909";
}
.icon-facebook_icon:before {
  content: "\e900";
}
.icon-instagram_icon:before {
  content: "\e901";
}
.icon-jam_check_icon:before {
  content: "\e902";
}
.icon-left_arrow_icon_for_button:before {
  content: "\e903";
}
.icon-location_icon:before {
  content: "\e904";
}
.icon-right_arrow_for_button:before {
  content: "\e905";
}
.icon-server_icon:before {
  content: "\e906";
}
.icon-twitter_icon:before {
  content: "\e907";
}
.icon-user_icon:before {
  content: "\e908";
}
